<nav class="bg-dark text-light p-3 d-flex justify-content-evenly">
  <a class="btn btn-light p-1" href="/profile">  Profile </a>
  <a class="btn btn-light p-1" href="/addplants">  Add plants </a>
  <a class="btn btn-light p-1" role="button" href="/displayplants">  Update Plants  </a>
  <a class="btn btn-light p-1" href="/historyplants">  History  </a> 
  <a class="btn btn-light p-1" href="/updateUser">  Update info </a>
  <a class="btn btn-light p-1" href="/logout"> Logout </a>
  
</nav>