<nav class="bg-dark text-light p-3 d-flex justify-content-evenly">
  
  <a class="btn btn-light p-1" href="/signup">  Signup </a>
  <a class="btn btn-light p-1" href="/login"> Login </a>
</nav>
<h1 class="bg-success p-3 text-light">Random Plant in Library.</h1>